<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <meta-data android:name="org.godotengine.plugin.v2.GalaxyAds" android:value="com.galaxy1942.ads.GalaxyAds" />
        <!-- Google demo App ID: this test APK never serves monetized ads. -->
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>
</manifest>
